<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.15" targetFramework="net48" />
  <package id="CommandLineParser" version="2.9.0-preview1" targetFramework="net472" />
  <package id="FluentFTP" version="34.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>